@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.root {
  background: #2f2a2a;
  height: 100%;
}

/*//Resource Column*/
/*---------------------------------------------------------*/
.candyBarWrapper {
  background: #373f51;
  height: 32px;
  width: 100%;
  margin: 2px 0 2px 0;
  border-radius: 3px;
}
.candyBarWrapper a {
  width: 100%;
  height: 100%;
}

.candyBarWrapper:hover {
  background: #464646;
}

.candyBarWrapper:active {
  background: #5f5f5f;
}

.candyBarInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.candyBarInfo h2 {
  font-weight: bold;
  color: white;
}

.candyBarInfocon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.resourceColumnHeader {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
  background: black;
}

.resourceColumnHeader h2 {
  font-weight: bold;
  text-align: start;
  font-size: 24px;
  line-height: 40px;
  margin-left: 10px;
  height: 100%;
  width: 100%;
  color: white;
}

.resourceColumn {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: start;
  background: #1b1b1e;
  border-radius: 3px;
  width: 318px;
  height: 752px;
  padding: 2px 4px 2px 4px;
}

.cardActions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
}

.addResourceBtn  {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  width: 85px;
  height: 30px;
}
.actionResourceBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  width: 64px;
  height: 30px;
}

.saveBtn {
  background: #639168;
}

.saveBtn:hover {
  background: #89b58e;
}

.cancelBtn:hover {
  background: #aeaeae;
}

.textInput {
  border: none;
  color: white;
  background: #2f2f2f;
}

.addResourceBtn:focus {
  outline:0;
}

.actionResourceBtn:focus {
  outline:0;
}

.addResourceBtn:hover {
  background: #5f5f5f;
}

.addResourceBtn a {
  color: white;
}

.addResource {
  background: #373f51;
  width: 100%;
  padding: 4px;
  border-radius: 3px;
}

.addResourceForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
.candyBarWrapperDisabled {
  background: #000000;
  position: absolute;
  opacity: 50%;
  height: 32px;
  width: 310px;
  margin: 2px 0 2px 0;
  border-radius: 3px;
}

/*--------------------------------------------------*/
