@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background: #2F343B;
  height: calc(100vh - 20px);
}

.app {
}

.widgetDrawer {
  height: 892px;
  width: 319px;
  background: linear-gradient(180deg, rgba(27, 27, 30, 0.79) 0%, rgba(27, 27, 30, 0.25) 100%);
}

/*//Resource Column*/
/*---------------------------------------------------------*/


.candyBarMenuBtn {
  width: 32px;
  height: 32px;
}

.candyBarWrapper {
  background: #373f51;
}

.candyBarMenuButton:focus {
  outline: thin dotted;
}

.candyBarMenuButton {
  min-width: 28px;
}

.candyBarMenu {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.candyBarMenu:hover {
  background: #4f4f4f;
}

.candyBarInfo {
  height: 29px;

  margin: 2px;
}
.candyBarInfo:hover {
  background: #464646;
  /*width: 75%;*/
}

.candyBarInfocon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 29px;
}

.resourceLinkFrame {
  position: absolute;
  width: 275px;
  height: 32px;
}

.tzTitle {
  color: #76ACED;
  font-weight: 500;
}

.atoDay {
  text-shadow: 2px 2px 4px #000000;
}


.resourceCard {
  max-height: 808px;
}

.pearlogo {
  position: relative;
  top: 19px;
}


.resourceColumnHeader {
  top: 0;
  background: #1B1B1E;
}

.resourceColumn {
  background: linear-gradient(180deg, rgba(27, 27, 30, 0.79) 0%, rgba(27, 27, 30, 0.25) 100%);
}


.addResourceBtn  {
}


.actionResourceBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 64px;
  height: 30px;

}

.menuItem:hover {
  background: #484848;
}

.trashIcon {
}

.saveBtn {
  color: #333333;
  background: #6C9CD5;
  font-weight: bold;
}

.cancelBtn {
  background: #333333;
  color: #6C9CD5;
  font-weight: bold;
  width: 76px;
}

.saveBtn:hover {
  background: #4a4a4a;
  transition: background-color .3s ease-in-out;
}

.saveBtn:focus {
  outline: thin dotted;
}

.cancelBtn:hover {
  background: #4a4a4a;
  transition: background-color .3s ease-in-out;
}

.textInput {
  border: none;
  color: white;
  background: #2f2f2f;
}

.resourceActionMenu {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .75);
}

.actionResourceBtn:focus {
  outline:0;
}

.editResource {
  background: #373f51;
}

.resourceFormBtn {
  justify-content: space-evenly;
}

.addResourceBtn a {
  color: white;
}

.resourceForm {
  border-radius: 2px;
  padding: 2px 2px 2px 2px;
}

.addResourceForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.candyBarWrapperDisabled {
  background: #000000;
  position: absolute;
  opacity: 50%;
  height: 32px;
  width: 310px;
  margin: 2px 0 2px 0;
  border-radius: 3px;
}

/*--------------------------------------------------*/
